html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
  color-scheme: dark;
}
body {
  max-width: 1280px;
  padding: 0 1.25rem;
  background-color: var(--color-bg);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--color-text);
}


hr {
  margin: 0 auto;
  width: calc(100% - 16rem);
  border: 1px solid var(--color-component-variant1);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.post-container hr {
  width: 100%;
}

/* ____________ NAV _____________ */
nav,
nav ul {
  background-color: var(--color-bg);
}
nav .logo svg path {
  fill: var(--color-primary);
}
nav ul li a {
  color: var(--color-text-variant);
}
/* ____________ ARTICLE CARD _____________ */
.article-card {
  background-color: var(--color-component);
}
.article-card:hover {
  background-color: var(--color-component-variant1);
}
/* ____________ ARTICLE CARD _____________ */

/* ____________ PROJECT/BLOG PAGE _____________ */
.blog-section .blog-container {
  grid-template-columns: repeat(auto-fill, minmax(19.35rem, 1fr));
}
.blog-section .blog-container .article-card p,
.blog-section .blog-container .article-card time {
  color: var(--color-text-variant);
}
/* ____________ PROJECT/BLOG PAGE _____________ */